<p id="notice"><%= notice %></p>
<div class="container">
    <h1>Listing Companies</h1>
      <%= form_tag companies_path, :method => 'get', :id => "companies_search", remote: true do %>
  <p>
    Download:
    <% @linkcsv = export_companies_path(:method => 'export' , format: "csv") %>
    <%= hidden_field_tag :linkcsv, @linkcsv %>
    <% @linkxls= export_companies_path(:method => 'export' , format: "xls") %>
    <%= hidden_field_tag :linkxls, @linkxls %>
    
    <%= link_to "CSV", export_companies_path(:method => 'export' , format: "csv"), :id => "companies_csv" %> |
    <%= link_to "XLS", export_companies_path(:method => 'export', format: "xls"), :id => "companies_xls" %>
    </p>  
 

    <p>
      <%= text_field_tag :search, params[:search], :id => "search_field" %>
      <%= submit_tag "Search", :name => nil, :id => "search" %>
    </p>
    <div id="companies"><%= render 'companies' %></div> 
  <% end %>

   

        
<br>
<%= link_to 'New Company', new_company_path, class: 'btn btn-primary' %>

<h2>Import Companies</h2>

<%= form_tag import_companies_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>